$dark: rgba(35, 24, 36, 1);
$pink: rgba(199, 15, 228, 1);
$alert: rgb(204, 23, 23);
$orange: rgba(255, 143, 78, 1);
$gold: rgba(255, 201, 72, 1);
$green: rgba(0, 172, 149, 1);
$blue: rgba(0, 146, 255, 1);
$gray: rgba(181, 167, 182, 1);
$mid-dark: rgba(47, 37, 48, 1);
$light-dark: rgba(176, 152, 179, 1);
$light-pink: rgba(255, 151, 255, 1);
