@media all and (max-width: 1024px) {
  // accueil titre
  .home-container {
    .title-container {
      .card-home {
        width: 720px;
        .card-title {
          p {
            font-size: 3.2rem;
          }
          h6 {
            font-size: 1.6rem;
          }
          .contact-btn-home {
            width: 100%;
            height: 7rem;
            button {
              font-size: 1.6rem;
            }
          }
        }
        .card-illustration {
          img {
            width: 25rem;
          }
        }
      }
    }
  }

  .services-container {
    width: 100%;
  }
  .cards-container {
    height: 50rem;
    .services-cards {
      grid-gap: 1rem 10rem;
      .services-card {
        width: 28rem;
        height: auto;
        margin: 2rem 0rem;
        padding: 2rem;
        .services-card-title {
          h6 {
            font-size: 2rem;
          }
        }
        .services-card-content {
          p {
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  // presentation
  .presentation-container {
    .team-container {
      width: 88vw;
      h6 {
      }
      .team-cards {
        .team-card {
          height: 36rem;
          .team-title {
            height: 20rem;
            width: 20rem;
            div {
              height: 20rem;
              width: 20rem;
            }
          }
          .team-content {
            width: 28rem;
            p {
            }
          }
        }
      }
    }
  }

  // formulaire contact

  .login-box {
    width: 72rem;
  }
}
