@media all and (max-width: 1024px) {
  .title-container {
    .card-home {
      .card-title {
        p {
          font-size: 3.8rem;
        }
        h6 {
          font-size: 1.6rem;
        }
      }
      .card-illustration {
        img {
          width: 25rem;
        }
      }
    }
  }
}
