@media all and (max-width: 500px) {
  // Accueil titre
  .home-container {
    .title-container {
      .card-home {
        .card-title {
          width: 28rem;
          margin: 0;
          p {
            text-align: center;
            font-size: 2.4rem;
          }
          h6 {
            text-align: center;
            font-size: 1.6rem;
            margin: 0 0 5rem 0;
          }
          .contact-btn-home {
            button {
              margin: 0;
              font-size: 1.6rem;
            }
          }
        }
        .card-illustration {
          img {
            width: 18rem;
          }
        }
      }
    }
  }

  //   sidebar
  .sidenav {
    .menu {
      ul {
        li {
          a {
            font-size: 2rem;
          }
        }
      }
    }
  }

  // presentation
  .presentation-container {
    .team-container {
      width: 30rem;
      h6 {
      }
      .team-cards {
        .team-card {
          width: 30rem;
          .team-title {
            height: 16rem;
            width: 16rem;
            div {
              height: 16rem;
              width: 16rem;
            }
          }
          .team-content {
            width: 24rem;
            p {
              font-size: 1.4rem;
            }
          }
        }
      }
    }
  }

  // page du formulaire
  .contact-container {
    height: 120rem;

    h6 {
      font-size: 2.4rem;
    }
  }

  // formulaire contact

  .login-box {
    width: 80vw;
    form {
      width: 22rem;
      .solo-input {
        width: 22rem;
      }
      .duo-input {
        display: flex;
        flex-direction: column;
        width: 22rem;
      }

      message-input {
        width: 22rem;
      }
    }
  }
}
