nav {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  display: flex;
  height: 3vh;
  margin-bottom: 16px;
}

h1 {
  margin: 0 auto;
  font-size: 32px;
}

.menu {
  display: flex;
  justify-content: flex-end;
}

ul {
  margin: 8px 30px;
}

a {
  text-decoration: none;
}
