.contact-container {
  position: absolute;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 10rem;
  background: linear-gradient(
    75deg,
    rgba(199, 15, 228, 1) 0%,
    rgba(255, 201, 72, 1) 100%
  );
  width: 100%;
  overflow: hidden;

  h6 {
    color: #fff;
    font-size: 4rem;
    font-weight: 800;
    letter-spacing: 0.1rem;
    margin: 8rem 0 8rem;
    font-family: Heebo, sans-serif;
    text-align: center;
  }
}

.login-box {
  width: 50vw;
  padding: 4rem;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  margin-bottom: 20rem;
  .inline-input {
    display: flex;
    justify-content: space-around;
  }
  h6 {
    color: #fff;
    font-size: 2.6rem;
    font-weight: 800;
    letter-spacing: 0.2rem;
    margin: 0 0 3.3rem;
    text-align: left;
  }

  p {
    margin: 0 0 30px;
    color: $alert;
    text-align: center;
    font-size: 2rem;
    transform: translateY(-3rem);
  }

  .user-box {
    position: relative;

    input {
      width: 100%;
      padding: 10px 0;
      font-size: 16px;
      color: #fff;
      margin-bottom: 30px;
      border: none;
      border-bottom: 1px solid #fff;
      outline: none;
      background: transparent;
      transition: 0.5s;

      &:focus {
        border-color: $gold;
      }

      &:focus ~ label,
      &:not(:placeholder-shown) ~ label {
        top: -20px;
        left: 0;
        color: $gold;
        font-size: 12px;
      }
    }

    label {
      position: absolute;
      top: 0;
      left: 0;
      padding: 10px 0;
      font-size: 16px;
      color: #fff;
      pointer-events: none;
      transition: 0.5s;
    }
  }

  .w100 {
    position: relative;
    width: 85%;
  }

  .use-box {
    position: relative;
    width: 85%;

    &:focus-within label {
      color: $gold;
    }

    textarea {
      width: 100%;
      padding: 10px 0;
      font-size: 16px;
      color: #fff;
      margin-bottom: 30px;
      border: none;
      border-bottom: 1px solid #fff;
      outline: none;
      background: transparent;
      transition: 0.5s;
      resize: none;


      &:focus {
        border-color: $gold;
      }
    }

    label {
      padding: 10px 0;
      font-size: 16px;
      color: #fff;
      pointer-events: none;
      transition: 0.5s;
    }
  }

  .submitFlex {
    display: flex;
    justify-content: center;
  }

  a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: $gold;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    letter-spacing: 4px;

    &:hover {
      background: $gold;
      color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 5px $gold, 0 0 25px $gold, 0 0 50px $gold, 0 0 100px $gold;

      button {
        background: none;
      }
    }

    span {
      position: absolute;
      display: block;

      &:nth-child(1) {
        top: 0;
        left: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, transparent, $gold);
        animation: btn-anim1 1s linear infinite;
      }

      &:nth-child(2) {
        top: -100%;
        right: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(180deg, transparent, $gold);
        animation: btn-anim2 1s linear infinite;
        animation-delay: 0.25s;
      }

      &:nth-child(3) {
        bottom: 0;
        right: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(270deg, transparent, $gold);
        animation: btn-anim3 1s linear infinite;
        animation-delay: 0.5s;
      }

      &:nth-child(4) {
        bottom: -100%;
        left: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(360deg, transparent, $gold);
        animation: btn-anim4 1s linear infinite;
        animation-delay: 0.75s;
      }
    }

    button {
      background-color: transparent;
      width: 12rem;
      font-size: 1.6rem;
      font-weight: bold;
      border: 0;
      color: #fff;
    }
  }
}


@media all and (max-width: 1248px) {
  .contact-container {

    .login-box {
      width: 85vw;

      .inline-input {
        display: block;
      }

      .w100 {
        position: relative;
        width: 100%;
      }

      .use-box {
        position: relative;
        width: 100%;
      }

    }
    h6 {
      font-size: 3rem;
    }


  }
}
