nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 10rem;
  background-color: $dark;
  border-bottom: solid 1px $pink;
  box-shadow: inset 0 -11px 10px -15px $pink;

  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10rem;
    width: 28rem;
    position: relative;
    transition: transform 0.3s ease;
    transform: translateX(0px);
    img {
      width: 22rem;
      cursor: pointer;
    }
  }
  .title:hover {
    transform: translateX(-10px);
  }

  .grid {
    #menuBtn {
      display: none;
    }
    .menu {
      width: 40rem;
      ul {
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: space-around;
        li {
          font-size: 1.8rem;
          letter-spacing: 0.1rem;
          padding: 6px 0;
          a {
            position: relative;
            display: block;
            padding: 4px 0;
            color: $gold;
            text-transform: uppercase;
            transition: 0.5s;
            &::after {
              position: absolute;
              content: "";
              top: 100%;
              left: 0;
              width: 100%;
              height: 2px;
              background: $pink;
              transform: scaleX(0);
              transform-origin: right;
              transition: transform 0.5s;
            }
            &:hover::after {
              transform: scaleX(1);
              transform-origin: left;
            }
          }
          .selected {
            color: $light-dark;
          }
        }
      }
    }
  }
}
