.services-container {
  position: absolute;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 10rem;
  overflow: hidden;
  width: 100%;
}
.cards-container {
  display: flex;
  justify-content: center;
  background: #e5e5e5;
  height: 40vh;
  width: 100vw;
  .services-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem 18rem;
    margin: -8rem 0;
    & .services-card:nth-child(-n + 2) {
      border-color: $gold;
    }
    .services-card {
      background-color: #e5e5e5;
      border: 2px solid $pink;
      border-radius: 2.4rem;
      padding: 2rem;
      margin: 2rem 2rem;
      width: 30rem;
      height: 28rem;
      box-shadow: rgba(35, 24, 36, 0.1) 0px 3px 5px 2px;
      .services-card-title {
        h6 {
          font-size: 2.4rem;
          font-weight: 800;
          letter-spacing: 0.1rem;
          margin: 0 0 4rem;
          color: $dark;
          text-align: center;
        }
      }
      .services-card-content {
        p {
          font-size: 1.6rem;
          letter-spacing: 0.1rem;
          font-family: Heebo, sans-serif;
          color: $mid-dark;
          text-align: left;
        }
      }
    }
  }
}
