// page route services cards =>
.services-container {
  position: absolute;
  top: 10rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 128rem;
  background: no-repeat url("/images/bg-web-spider.jpg");
  background-size: cover;
  .services-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    .services-presentation {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-evenly;
      width: 112rem;
      height: 112rem;
      margin: 8rem 0 4rem 0;
      h5 {
        font-size: 3.2rem;
        font-weight: 800;
        letter-spacing: 0.2rem;
        text-align: center;
        color: #fff;
      }
      .services-items {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        background: rgba(217, 42, 240, 0.5);

        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
        border-radius: 10px;
        .services-item-title {
          width: 48rem;
          margin: 4.8rem 0;

          h6 {
            font-size: 2.4rem;
            font-weight: 800;
            color: #fff;
            text-align: center;
            margin: 0 0 2rem;
            text-transform: uppercase;
          }
          p {
            font-size: 1.6rem;
            letter-spacing: 0.1rem;
            font-family: Heebo, sans-serif;
            color: #fff;
            text-align: left;
          }
        }
        .services-item-desc {
          p {
            font-size: 1.2rem;
            letter-spacing: 0.1rem;
            font-family: Heebo, sans-serif;
            color: #fff;
            text-align: left;
          }
        }
      }
    }
  }
}

// bloc de services cards =>
.cards-container {
  display: flex;
  justify-content: center;
  background: no-repeat url("/images/bg-web-spider.jpg");
  background-size: cover;
  height: 72rem;
  width: 100vw;
  max-width: 100%;
  .services-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem 14rem;
    margin: -6rem 0;
    height: 0;

    .services-card:hover {
      border: 2px solid $dark;
      background-color: $green;
      box-shadow: 0 0 5px $dark, 0 0 25px $dark;
      .services-card-title {
        i {
          transform: translateY(-10px);
          font-size: 4rem;
          color: $gold;
          margin: 0 0 2rem;
        }
        h6 {
          color: #e5e5e5;
        }
      }
      .services-card-content {
        p {
          color: #e5e5e5;
        }
      }
    }
    .services-card {
      background-color: #e5e5e5;
      border: 2px solid $pink;
      border-radius: 2.4rem;
      padding: 2rem;
      margin: 2rem 2rem;
      width: 32rem;
      height: 28rem;
      box-shadow: rgba(35, 24, 36, 0.1) 0px 3px 5px 2px;
      transition: 0.5s ease;
      .services-card-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        h6 {
          font-size: 2.4rem;
          font-weight: 800;
          color: $dark;
          text-align: center;
          margin: 0 0 2rem;
          transition: 0.5s ease;
        }
        i {
          font-size: 3.2rem;
          color: $green;
          margin: 0 0 2rem;
          transition: 0.5s ease;
        }
      }
      .services-card-content {
        p {
          font-size: 1.6rem;
          letter-spacing: 0.1rem;
          font-family: Heebo, sans-serif;
          color: $mid-dark;
          text-align: left;
          transition: 0.5s ease;
        }
      }
    }
  }
}
