@import "Styles/styles.scss";

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html.sr .load-hidden {
  visibility: hidden;
}

html {
  font-size: 10px;
  text-shadow: 0 0 0 !important;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

.app-container {
  background-size: cover;
  height: 100vh;
  width: 100%;
}

// page 404
.erreur {
  width: 100%;
  height: 100%;
  display: flex;
  background: url("https://images.unsplash.com/uploads/14128324071271c853818/3765c625?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80")
    no-repeat center fixed;
  -webkit-background-size: cover;
  background-size: cover;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  .erreur-404 {
    font-size: 5.6rem;
    color: #fff;
  }
  .txt {
    cursor: pointer;
    background-color: transparent;
    margin: 0 0 0 4rem;
    padding: 2rem 1rem;
    font-family: "Lato", sans-serif;
    font-size: 1.6rem;
    letter-spacing: 1px;
    font-weight: 400;
    color: #fff;
    border: solid 0.2rem #fff;
    border-radius: 3.2rem;
    box-shadow: rgba(35, 24, 36, 0.1) 0px 3px 5px 2px;
    transition: 0.5s;
    margin: 4rem;
    overflow: hidden;
    &:hover {
      background: $gold;
      box-shadow: 0 0 5px $gold, 0 0 25px $gold, 0 0 50px $gold, 0 0 100px $gold;
      border: none;
    }
  }
}
